li{
	list-style-type: none;
	
}
.todo-item {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	padding: 14px;
	border-top: 1px solid rgba(0,0,0,.1);
	align-items: center;
}
.label-finished{
	text-decoration: line-through;
	color: #8c8c8c;
}


.wrapper .todo-item-editing form{
	padding: 7px;
}
.todo-item div input{
	margin-right: 14px;
}

.controll-btn{
	border:none;
	background: transparent;
	font-size: 19px;
	margin-right: 18px;
	color: #535353;
}