.todo-item {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	padding: 12px;
	border-top: 1px solid rgba(0,0,0,.1);
}

/*.controll-btns{
	display: none;
}
.todo-item:hover .controll-btns{
	display: inline-block;
}*/