.wrapper{
	min-width: 320px;
	border:1px solid #000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}


.header{
	padding: 10px 15px;
	background-color: #e95950;
	color: #fff;
}
.header h1{
	text-shadow: 0 2px 2px #888;
}

.wrapper form{
	padding: 10px;
	display: flex;
	background-color: #fafafa;
}

.wrapper input{
	flex: 1 1;
	padding: 10px;
	border: 1px solid rgba(0,0,0,.1);
	margin-right: 5px;
}
.wrapper form button{
	border: none;
	padding: 0 13px;
}